.footer {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  gap: 96px;
  min-height: 266px;
  justify-content: space-around;
  padding: 20px 64px;
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.footer .footer-container {
  align-items: flex-start;
  align-self: stretch;
  border-color: #000000b2;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 120px;
  padding: 20px 0px;
  position: relative;
}

.footer .footer-left-content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.footer .company-container {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.footer .company-text {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.48px;
  line-height: 34.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.footer .developer-container {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
  width: 100%;
}

.footer .developer-text {
  align-items: flex-start;
  color: #0000008c;
  display: flex;
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  justify-content: flex-start;
  letter-spacing: -0.08px;
  line-height: 23.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

@media (max-width: 768px) {
  .footer .developer-text {
    font-size: 14px;
    line-height: 20.3px;
  }
}

.footer .footer-right-content {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
}

.footer .support-container {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: 130px;
}

.footer .support-header {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  padding: 0px 0px 16px;
  position: relative;
  width: 100%;
}

.footer .support-text {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.08px;
  line-height: 23.2px;
  margin-top: -1.00px;
  position: relative;
  width: 63px;
}

.footer .text-wrapper-8 {
  align-items: center;
  align-self: stretch;
  color: #0000008c;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.08px;
  line-height: 23.2px;
  position: relative;
}
