.community-page {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 1080px;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .community-page {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .community-page {
    min-height: auto;
  }
}
