.desktop {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 1080px;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .desktop {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .desktop {
    min-height: auto;
  }
}

.desktop .site-header-name {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 48px;
  justify-content: center;
  padding: 20px 0px;
  position: relative;
  width: 100%;
}

.desktop .choose-your-receipt {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: -0.72px;
  line-height: 43.2px;
  margin: 0;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

@media (max-width: 768px) {
  .desktop .choose-your-receipt {
    font-size: 24px;
    line-height: 28.8px;
  }
}
