.page-button {
  align-items: center;
  background: none;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #00000033;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: center;
  position: relative;
  width: 20px;
  transition: border-color 0.2s;
}

.page-button:hover {
  border-color: #000000cc;
}

.page-button.active {
  border-color: #f6910b;
}

.page-button .element {
  align-items: center;
  align-self: stretch;
  color: #000000;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 600;
  height: 17px;
  justify-content: center;
  letter-spacing: -0.30px;
  line-height: 18.0px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  transition: color 0.2s;
}

.page-button.active .element {
  color: #f6910b;
}
