.communitypage-wrapper {
  align-items: center;
  border: 1px solid;
  border-color: #0000001a;
  border-radius: 16px;
  display: flex;
  gap: 10px;
  padding: 2px 10px;
  position: relative;
  width: 100%;
  text-decoration: none;
}

.communitypage-wrapper .communitypage-6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0px 5px;
  position: relative;
  width: 60px;
}

.communitypage-wrapper .communitypage-7 {
  align-items: center;
  align-self: stretch;
  color: #000000bf;
  display: flex;
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 24.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.communitypage-wrapper .communitypage-8 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  padding: 1px 0px;
  position: relative;
}

.communitypage-wrapper .communitypage-9 {
  align-items: center;
  color: #00000066;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 24.0px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.communitypage-wrapper .communitypage-10 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.32px;
  line-height: 19.2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.communitypage-wrapper .communitypage-11 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: flex-end;
  padding: 3px 0px;
  position: relative;
}

.communitypage-wrapper .communitypage-12 {
  align-items: center;
  color: #00000066;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.36px;
  line-height: 21.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.communitypage-wrapper .communitypage-13 {
  align-items: center;
  color: #000000;
  display: flex;
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.32px;
  line-height: 19.2px;
  position: relative;
}
