.menu-inventory-wrapper {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #000000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 64px;
  padding: 5px 0px;
  position: relative;
  top: 25px;
  width: 1152px;
}

.menu-inventory-wrapper .menu-inventory-label {
  align-items: center;
  align-self: stretch;
  color: #000000;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 48px;
  font-weight: 700;
  justify-content: flex-start;
  letter-spacing: -0.96px;
  line-height: 57.6px;
  margin-top: -1.00px;
  position: relative;
}

.menu-inventory-wrapper .menu-inventory-2 {
  align-items: center;
  align-self: stretch;
  color: #0000008c;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 500;
  justify-content: flex-start;
  letter-spacing: -0.10px;
  line-height: 29.0px;
  position: relative;
}

@media (max-width: 768px) {
  .menu-inventory-wrapper .menu-inventory-label {
    font-size: 32px;
    line-height: 38.4px;
  }
  
  .menu-inventory-wrapper .menu-inventory-2 {
    font-size: 16px;
    line-height: 23.2px;
  }
}
