.menu-inventory {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 25px 64px;
  position: relative;
  width: 100%;
}

.menu-inventory .menu-inventory-header-wrapper {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.menu-inventory .menu-inventory-header-link {
  text-decoration: none;
  color: inherit;
}

.menu-inventory .design-component-instance-node-2 {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}

.menu-inventory .menu-more-btn {
  padding: 22px 14px;
  background-color: #f6910b;
  border-radius: 50px; 
  
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700; 
  text-decoration: none;
  line-height: 1;
  
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  gap: 8px; 
  
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;       
  text-align: center;   
  
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-inventory .menu-more-btn:hover {
  background-color: #e58209;
  transform: translateX(3px);
}

.menu-inventory .tendency-inventory {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.menu-inventory .tendency-instance {
  margin-left: -14.50px !important;
}

.menu-inventory .tendency-2 {
  margin-left: unset !important;
}

.menu-inventory .div-6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  overflow-x: scroll;
  position: relative;
  width: 100%;
}

.menu-inventory .div-6::-webkit-scrollbar {
  display: none;
  width: 0;
}

.menu-inventory .recipe {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #0000001a;
  border-radius: 16px;
  box-shadow: 0px 6px 12px #00000008, 0px 4px 8px #00000005;
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: center;
  max-width: 240px;
  overflow: hidden;
  padding: 8px 10px;
  position: relative;
  width: 240px;
}

.menu-inventory .recipe-text {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
  padding: 3px;
  position: relative;
  width: 100%;
}

.menu-inventory .recipe-name {
  align-items: center;
  align-self: stretch;
  border-radius: 15px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 0px 5px;
  position: relative;
  width: 100%;
}

.menu-inventory .recipe-name-text {
  align-items: center;
  color: #000000e6;
  display: flex;
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.08px;
  line-height: 22.4px;
  margin-top: -1.00px;
  position: relative;
}

.menu-inventory .use-ingredient {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 2px;
  overflow: hidden;
  overflow-x: scroll;
  padding: 2px 4px;
  position: relative;
  width: 100%;
}

.menu-inventory .use-ingredient::-webkit-scrollbar {
  display: none;
  width: 0;
}

.menu-inventory .used-ingredient-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  height: unset !important;
  left: unset !important;
  top: unset !important;
}

.menu-inventory .recipe-container {
  align-items: center;
  align-self: stretch;
  background-color: #0000001a;
  border-radius: 16px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 5px;
  justify-content: center;
  padding: 5px 10px;
  position: relative;
  width: 100%;
}

.menu-inventory .recipe-text-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  align-items: center;
  color: #0000008c;
  display: -webkit-box;
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 11px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.06px;
  line-height: 15.4px;
  margin-bottom: -1.50px;
  margin-top: -3.50px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.menu-inventory .recipe-extension {
  height: 24px;
  position: relative;
  width: 24px;
}

.menu-inventory .recipe-container-2 {
  align-items: center;
  align-self: stretch;
  background-color: #0000001a;
  border-radius: 16px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 5px;
  justify-content: center;
  padding: 3px 10px;
  position: relative;
  width: 100%;
}

.menu-inventory .text-wrapper-7 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  align-items: center;
  color: #0000008c;
  display: -webkit-box;
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 11px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.06px;
  line-height: 15.4px;
  margin-top: -1.50px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}
