.ingredient-component {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #0000001a;
  border-radius: 16px;
  box-shadow: 0px 12px 32px #0000000a, 0px 4px 8px #00000005;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 120px;
  justify-content: space-around;
  max-height: 120px;
  min-width: 140px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .ingredient-component {
    min-width: 120px;
  }
}

.ingredient-component .ingredient-container {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.ingredient-component .ingredient-header {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.ingredient-component .ingredient-image {
  aspect-ratio: 1;
  height: 48px;
  object-fit: cover;
  position: relative;
  width: 48px;
}

.ingredient-component .ingredient-name {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  padding: 2px;
  position: relative;
}

.ingredient-component .ingredient-name-text {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.10px;
  line-height: 29.0px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.ingredient-component .ingredient {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  padding: 2px;
  position: relative;
  width: 100%;
}

.ingredient-component .ingredient-2 {
  align-self: stretch;
  color: #000000;
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.06px;
  line-height: 17.4px;
  margin-top: -1.00px;
  position: relative;
}
