.mypage-tendency {
  align-items: center;
  background-color: #f6910b;
  border: 1px solid;
  border-color: #0000001a;
  border-radius: 16px;
  box-shadow: 0px 6px 12px #00000008, 0px 4px 8px #00000005;
  display: inline-flex;
  flex-direction: column;
  min-height: 40px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding: 8px 16px;
}

.mypage-tendency .tendency-name-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 2px 10px;
  position: relative;
  width: 100%;
}

.mypage-tendency .tendency-name-text-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.mypage-tendency .tendency-name-text-2 {
  align-items: center;
  align-self: stretch;
  color: #ffffff;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: -0.08px;
  line-height: 22.4px;
  margin: 0;
  position: relative;
  text-align: center;
  white-space: nowrap;
}
