.header-wrapper {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 120px;
  padding: 10px;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header-wrapper .icon-image-wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.header-wrapper .icon-image-2 {
  height: 80px;
  width: auto;
  display: block;
  position: relative;
}

.header-wrapper .p {
  align-items: center;
  color: transparent;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 48px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: -0.96px;
  line-height: 1;
  position: relative;
  text-align: center;
  width: 271px;
  height: 100%;
}

.header-wrapper .text-wrapper-3 {
  color: #000000;
  letter-spacing: -0.46px;
}

.header-wrapper .text-wrapper-4 {
  color: #f6910b;
  letter-spacing: -0.46px;
}

.header-wrapper .login-button-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: flex-end;
  padding: 10px;
  position: relative;
}

.header-wrapper .login-text-wrapper {
  background-image: url(https://c.animaapp.com/sjWITF5i/img/loginvector-3.svg);
  background-size: 100% 100%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  height: 36px;
  overflow: hidden;
  position: relative;
  width: 120px;
  transition: transform 0.2s;
}

.header-wrapper .login-text-wrapper:hover {
  transform: scale(1.05);
}

.header-wrapper .login-text-2 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  justify-content: center;
  left: calc(50.00% - 33px);
  letter-spacing: -0.40px;
  line-height: 24.0px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  width: 66px;
}
