.used-ingredient {
  align-items: center;
  border: 1px solid;
  border-color: #0000001a;
  border-radius: 16px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  height: 23px;
  justify-content: center;
  left: 4px;
  padding: 3px 10px;
  position: relative;
  top: 2px;
}

.used-ingredient .use-ingredient-name {
  align-items: center;
  color: #000000cc;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.06px;
  line-height: 16.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
